main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
}
.nossosServicos {
    grid-row-start: 1;
    grid-column: 1/13;
    text-align: center;
    font-family: var(--fontLogo);
    font-weight: 700;
    font-size: 48px;
}
.nossosServicosTitulo {
    font-family: var(--fontLogo);
    font-weight: 700;
}

main > h6 {
    grid-row-start: 2;
    grid-column: 1/13;
    text-align: center;
    font-family: var( --fonte-titulo);
    font-size: 18px;
    font-weight: 300;
    margin-top: 24px;
}
.nossosServicos__img {
    width: 72px;
    height: 72px;
}

.clareamento {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    grid-row-start: 3;
    grid-column: 3/6;
    margin: 24px;
}
.consulta {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-start: 3;
    grid-column: 8/10;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 24px;
}
.extracao {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-start: 4;
    grid-column: 3/6;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 24px;
}
.aparelho {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row-start: 4;
    grid-column: 8/10;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 24px;
}
.nossosServicosSubTitulo {
    text-align: center;
    font-family: var( --fonte-titulo);
    font-size: 18px;
    font-weight: 300;
}
@media (max-width: 900px){
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nossosServicos {
        margin-top: 92px;
        text-align: center;
        font-family: var(--fontLogo);
        font-weight: 700;
        font-size: 36px;
    }
}