@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Work+Sans:ital,wght@0,300;0,400;0,900;1,500;1,600&display=swap');
:root {
   --texto-logo-cor: blue; 
   --texto-logo: "DynaPuff";
   --texto: "Work Sans";
   --cor-botao: #008df5;
   --cor-branco: white;
   --cor-laranja: #ff9021;
   --cor-roxo: #9156e7;
   --cor-laranja-claro: #e8af35;
   --cor-velocidade: rgb(65, 212,201);
   --cor-simplicidade: #325b9c;
   --cor-qualidade: #0093fd;
   --cor-fundo-section-profissional: rgba(239, 248, 254, 1);
   --cor-fundo-footer: rgba(9, 29, 64, 1);
}