@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:wght@300;400;500;600;700&family=Noto+Sans:wght@300;500;700&family=Nunito:wght@300;400&family=Oxygen&family=Poppins:ital,wght@1,500&family=Tilt+Neon&display=swap');

:root {
    --cor-primaria: #3498db;
    --cor-secundaria: #2ecc71;
    --cor-btn: #008df4;
    --cor-titulo: #071e40;
    --fontLogo: "Oxygen";
    --fonte-titulo: 'Inter';
  }
  